* {
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* Dark background */
.black-bg {
    position: relative;
    background-color: #1F2937;
    overflow: hidden;
}

.black-bg * {
    color: #E5E7EB;
}

/* Gray background */
.grey-bg {
    position: relative;
    overflow: hidden;
    background-color: #E5E7EB;
    background-image: radial-gradient(circle at 0% 100%, #3838384d, #f9faf800 70%);
}

.grey-bg * {
    color: #1F2937;
}

header,
footer {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bolder;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.hero-section {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 96px;
}

.hero-left-side,
.hero-right-side {
    flex: 1;
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.sign-up-button {
    background-color: #3882F6;
    padding: 8px 40px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    flex: 0 0 auto;
}

.hero-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.gradient-bg {
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-image: radial-gradient(#f9faf81a, #f9faf800 70%);
    z-index: 1;
}

.hero-image {
    width: 300px;
    height: auto;
    z-index: 2;
}

.information-section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.information-title {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

.information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.information-image-holder {
    width: 170px;
    height: 170px;
    
}

.information-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 20px #1f293763;
}

.information-text {
    text-wrap: wrap;
    text-align: center;
    font-size: 18px;
    width: 170px;
    font-weight: 400;
}

.quote-section {
    padding: 150px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 104px;
}

.quote-text {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    padding: 0 40px;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.sign-up-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.blue-bg {
    background-color: #3882F6;
    background-image: radial-gradient(circle at 100% 50%, #c300ffe3, #f9faf800);
}

.blue-bg * {
    color: #F9FAF8;
}

.sign-up-container {
    
    width: 100%;
    border-radius: 10px;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-bg .sign-up-button {
    border: 2px solid #F9FAF8;
    background-color: transparent;
}

.sign-up-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
}

.sign-up-title {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.sign-up-text {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

footer {
    padding: 40px 0;
}

.footer-text {
    font-size: 18px;
    font-weight: 400;
}

.padded-section {
    max-width: 1000px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
}